* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  background-color: rgb(255, 235, 213);
  padding: 5px 10%;
  margin-bottom: 10px;
}

h1 {
  font-size: 45px;
  color: rgb(6, 85, 138);
  font-weight: 600;
  text-shadow: 2px 2px 2px rgb(167, 167, 167);
}

.app {
  background: url(../src/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.taskCard {
  width: 250px;
  padding: 10px 25px;
  margin: 10px 1%;
  background-color: rgb(174, 172, 164);
  border-radius: 5px;
}

.taskCardTitleInputArea {
  margin-bottom: 10px;
  width: 10%;
  cursor: pointer;
}

.taskCardTitleInput {
  width: 80px;
  font-size: 1.1rem;
  padding: 4px 6px;
  border-radius: 3px;
  border: none;
  outline: none;
}

.taskAddInput {
  width: 100%;
  font-size: 1.3rem;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  outline: none;
}

.taskBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 0;
  margin-top: 10px;
  background-color: rgb(208, 222, 235);
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px rgb(149, 149, 150);
}

.taskText {
  margin-left: 12px;
  border: none;
}

.taskTrashButton {
  cursor: pointer;
  margin-right: 9px;
  border: none;
}

.taskCardsArea {
  display: flex;
  justify-content: flerx-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.addTaskCardButtonArea {
  margin-left: 1%;
  margin-top: 25px;
}

.addTaskCardButton {
  padding: 10px 18px;
  border-radius: 9999px;
  font-size: 30px;
  background-color: aliceblue;
  box-shadow: 2px 3px 6px 1px black;
  cursor: pointer;
  transition: all 0.3s;
}

.addTaskCardButton:hover {
  box-shadow: none;
  transform: translate(2px, 3px);
}

.taskCarsTitleandtaskCsrdDeleteButtonArea {
  display: flex;
  justify-content: space-between;

}

.taskCardDeleteButton {
  border: none;
  background-color: rgb(174, 172, 164);
  font-size: 16px;
  color: rgb(170, 23, 23);
  cursor: pointer;
}